NODE_ENV=
PORT=
TRUST_PROXY=
SECRET_JWT_KEY=
DATABASE_URL=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
REDIS_URL=
FRONTEND_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_CALLBACK_URL=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_OAUTH_CALLBACK_URL=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
STEAM_API_KEY=
STEAM_OPENID_RETURN_URL=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
XBOX_OAUTH_CALLBACK_URL=
OPENXBL_API_KEY=
PSN_NPSSO=
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
SEED_USER_PASSWORD=
SEED_FOLLOW_USER_ID=
